body{
  background-color:black
  ;
}
.card {
  left: 5%;
  overflow: visible;
  position: relative;
  width: 360px;
  height: 420px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
  bottom: 60px;
}

.card:before,
.card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index: -99;
}

.card-details {
  position: absolute;
  left: -10px;
  right: 0;
  bottom: 5px;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
}

/*Image*/
.card-imgbox {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 15px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
}

.card-img {
  background: #4158D0;
  background-image: linear-gradient(45deg, #4158D0, #C850C0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card-image{
  position: relative;
  filter: blur(1px);
}
.image-text{
  position: absolute;

  -webkit-text-stroke: #222 0.1px;
  -webkit-text-fill-color: #fff;
  -webkit-text-fill-width:2px;
  left: 30%;
  top: 50%;
 
color: whitesmoke;
text-shadow: #222;
font-size: 30px;
 font-weight: 900;
}
/*Text*/
.card-title {
  font-weight: 600;
  font-size: 20px;
  color: #777;
  
  bottom: 5px;
}

.card-caption {
  
  display: block;
  margin-bottom: 5px;
}
#card-button{
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #ff5252;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  scale: 0.9;
}
#card-button:hover{
  background-color: #fff;
  color: #ff5252;
  border: 2px solid #ff5252;
  box-shadow: 5px 5px 0px #ff5252;
  scale: 1;
}
#card-button:active {
  background-color: #fcf414;
  box-shadow: none;
  transform: translateY(4px);
}
/*Hover*/
.card:hover .card-imgbox {
  bottom: 80px;
  
}

.card:hover:before {
  transform: rotate(20deg);
}

.card:hover:after {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
}
.image-text:hover,.image-text:active{
  opacity: 0;
}
/* ========================================================== */
/* book popup */
.btn-container{
 margin-top: 30px;
 margin-bottom: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  position: relative;
  
}
.popup-btn{
position: absolute;
padding: 10px 20px;
border: #eb1a1a solid 2px;
border-radius: 15px;
background-color: #fff;
color: #000;
left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  
}
.bday-popup{
  position: absolute;
  
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: none;
}
.bday-popup-active{
  display: block;
  position: absolute;
  
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);

}
.book {
  position: relative;
  border-radius: 10px;
  width: 220px;
  height: 300px;
  background-color: rgb(250, 162, 162);
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
}

.cover {
  top: 0;
  position: absolute;
  background-color: rgb(255, 106, 106);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-90deg);
  -ms-transform: rotatey(-90deg);
  transform: rotatey(-90deg);
}

.book p {
  font-size: 20px;
  font-weight: bolder;
  margin-left: 50px;
  color: rgb(0, 0, 0);
}
.book button{
  display: block;
  position: absolute;
  top: 0;
  right:0;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
}